Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd
data=[ 4, 8, 15, 16, 23,42]
s = pd.Series(data)
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [11]:
data=['pwskill','data','science',2023,'day','month','year',34,56,'age']
s = pd.Series(data)
s[1:]

1       data
2    science
3       2023
4        day
5      month
6       year
7         34
8         56
9        age
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:
Name     Age    Gender
Alice    25     Female
Bob      30     Male
Claire   27     Female
Then, print the DataFrame.

In [15]:
data_list = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female'],
    }
df = pd.DataFrame(data_list)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans :-  Pandas is an open-source library that is made mainly for working with relational or labeled data both easily 
    and intuitively. It provides various data structures and operations for manipulating numerical data and time series
    difference between pandas and series:-
   1. Series can only contain single list with index, whereas dataframe can be made of more than one series
   2. Series data is One-dimensional,and pandas data is Two-dimensional
   3. Series elements must be of the same data type, and DataFrame elements can have different data types.

In [18]:
#SERIES IN PANDAS
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)



#DATAFRAME IN PANDAS
data = pd.DataFrame({
    "Class 1": pd.Series([22, 33, 38], index=["math avg", "science avg",  "english avg"]),
    "Class 2": pd.Series([45, 28, 36], index=["math avg", "science avg",  "english avg"]),
    "Class 3": pd.Series([32, 41, 47], index=["math avg", "science avg",  "english avg"])
})
 
data

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
Name: series_from_dict, dtype: int64

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans :-  index()	Method returns index (row labels) of the DataFrame
insert()	Method inserts a column into a DataFrame
add()	Method returns addition of dataframe and other, element-wise (binary operator add)
sub()	Method returns subtraction of dataframe and other, element-wise (binary operator sub)
mul()	Method returns multiplication of dataframe and other, element-wise (binary operator mul)
div()	Method returns floating division of dataframe and other, element-wise 
isnull()	Method creates a Boolean Series for extracting rows with null values
iloc[]	Method retrieves rows based on index position
rename()	Method is called on a DataFrame to change the names of the index labels or column names
drop()	Method is used to delete rows or columns from a DataFrame
dropna()	Method allows the user to analyze and drop Rows/Columns with Null values in different ways
fillna()	Method manages and let the user replace NaN values with some value of their own

In [27]:
#EXAPMLES :---------
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna()  
df.fillna(0)
# retrieving rows by iloc method 
row2 = df.iloc[3] 
row2

First Score     95.0
Second Score     NaN
Third Score     98.0
Name: 3, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans :- 
 1. Series:-Size Immutable –size cannot be changed and  Values of Data Mutable
 2. DataFrame:- Size Mutable and Data Mutable
 3. Panel:- Size Mutable and Data Mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [29]:
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178